@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Patrick Hand', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 414px;
  height: 736px;
  background-image: url('./assets/bg.png');
  background-position: top;
  background-blend-mode: multiply;
  background-color: darkslateblue;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.app-background {
  height: 100vh;
  width: 100%;
  background-color: lightgrey;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
